<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.restaurantreviewapplication"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="17" />

    <application
        android:name="com.example.restaurantreviewapplication.UserApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.example.restaurantreviewapplication.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.restaurantreviewapplication.CreateActivity"
            android:label="@string/title_activity_create" >
        </activity>
        <activity
            android:name="com.example.restaurantreviewapplication.MainMenuActivity"
            android:label="@string/title_activity_main_menu" >
        </activity>
        <activity
            android:name="com.example.restaurantreviewapplication.FindRestaurantsActivity"
            android:label="@string/title_activity_find_restaurants" >
        </activity>
        <activity
            android:name="com.example.restaurantreviewapplication.ManageFriendsActivity"
            android:label="@string/title_activity_manage_friends" >
        </activity>
        <activity
            android:name="com.example.restaurantreviewapplication.RestaurantActivity"
            android:label="@string/title_activity_restaurant" >
        </activity>
        <activity
            android:name="com.example.restaurantreviewapplication.WriteReviewActivity"
            android:label="@string/title_activity_write_review" >
        </activity>
        <activity
            android:name="com.example.restaurantreviewapplication.ReadReviewActivity"
            android:label="@string/title_activity_read_review" >
        </activity>
        <activity
            android:name="com.example.restaurantreviewapplication.ListRestaurantsActivity"
            android:label="@string/title_activity_list_restaurants" >
        </activity>
        <activity
            android:name="com.example.restaurantreviewapplication.CurrentFriendsActivity"
            android:label="@string/title_activity_current_friends" >
        </activity>
        <activity
            android:name="com.example.restaurantreviewapplication.FriendActivity"
            android:label="@string/title_activity_friend" >
        </activity>
        <activity
            android:name="com.example.restaurantreviewapplication.FindFriendActivity"
            android:label="@string/title_activity_find_friend" >
        </activity>
        <activity
            android:name="com.example.restaurantreviewapplication.NotificationsActivity"
            android:label="@string/title_activity_notifications" >
        </activity>
        <activity
            android:name="com.example.restaurantreviewapplication.ManageAccountActivity"
            android:label="@string/title_activity_manage_account" >
        </activity>
        <activity
            android:name="com.example.restaurantreviewapplication.AddPictureActivity"
            android:label="@string/title_activity_add_picture" >
        </activity>

        <meta-data
            android:name="com.google.android.maps.v2.API_KEY"
            android:value="AIzaSyCitsZ7KWrpb85D-0V_GcAaqb8dGnqxSGI" />

        <activity
            android:name="com.example.restaurantreviewapplication.CreateMessage"
            android:label="@string/title_activity_create_message" >
        </activity>

        <activity
            android:name="com.example.restaurantreviewapplication.ForgotPasswordActivity"
            android:label="@string/title_activity_forgot_password" >
        </activity>
    </application>
	<uses-permission android:name="android.permission.INTERNET"></uses-permission>


    <permission
        android:name="com.dragonfred.permission.MAPS_RECEIVE"
        android:protectionLevel="signature" />

    <uses-permission android:name="com.dragonfred.permission.MAPS_RECEIVE" />

</manifest>